[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9.2"

[dev-packages]
pytest = "*"
"pytest-cov" = "*"
"pytest-django" = "*"
django-debug-toolbar = "*"

[packages]
"dj-database-url" = "*"
django = "*"
"django-environ" = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
whitenoise = "*"
todoist-python = "*"
django-ordered-model = "*"
django-allauth = "*"
django-bootstrap4 = "*"
django-crispy-forms = "*"
django-timezone-field = "*"
